@use '../../scss-partials/_ft-list-item';

.thumbnailLink:hover {
  outline: 3px solid var(--side-nav-hover-color);
}

.grid .ft-list-video {
  transition: all 0.2s ease-in 0.2s;
  background-color: var(--card-bg-color);
}
.grid .ft-list-video:hover {
  z-index: 1;
  transform: scale(1.3);
  padding: 5px;
}
